body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* MX GRAPH */
.mxContainer {
  margin: 0 50px;
  position: absolute;
  left: 0;
  top: 50px;
  right: 0;
  bottom: 0px;
  height: 90%;
  background-color: rgb(255, 255, 255);
  background-image: url("assets/img/grid.gif");
}

.graphInHome {
  width: auto;
  height: 500px;
  overflow: auto;
}